[Install]
WantedBy=multi-user.target

[Unit]
Description=Websocketd OpenSRF Gateway
After=network.target

[Service]
Type=simple
User={{ websocketd_user }}
Group={{ websocketd_group }}
{% for option in websocketd_service_options %}
{{ option }}
{% endfor %}
ExecStart={{ websocketd_install_path}}/websocketd {{ websocketd_options }}
